:root {
  --background-color-1: 200 7% 90%;
  --main-color-1: 201 10% 75%;
  --main-color-2: 180 66% 24%;
  --main-color-3: 190 12% 50%;
  --text-color-1: 192 15% 0%;
  --text-color-2: 14 90% 10%;
  --text-color-3: 204 8% 0%;
  --text-color-4: 0 0% 0%;
  --hover-color-1: 201 10% 78%;
  --hover-color-2: 180 63% 27%;
  --hover-color-3: 190 13% 47%;
  --shadow-color-1: 0 0% 0% 0.314;
  --shadow-color-2: 0 0% 0% 0.439;
  --scrollbar-color: var(--background-color-1) / 70%;
  &.default-dark {
    --background-color-1: 200 66% 0%;
    --main-color-1: 201 95% 6%;
    --main-color-2: 170 100% 33%;
    --main-color-3: 170 12% 66%;
    --text-color-1: 192 15% 85%;
    --text-color-2: 192 15% 85%;
    --text-color-3: 204 8% 76%;
    --text-color-4: 0 0% 100%;
    --hover-color-1: 201 90 6.7%;
    --hover-color-2: 171 110% 28%;
    --hover-color-3: 172 12% 60%;
    --shadow-color-1: 0 0% 0% 0.314;
    --shadow-color-2: 0 0% 0% 0.439;
    --scrollbar-color: var(--main-color-3) / 45%;
  }
  &.pastel-light {
    --background-color-1: 255 30% 91%;
    --main-color-1: 243 31% 83%;
    --main-color-2: 218 18% 47%;
    --main-color-3: 216 23% 61%;
    --text-color-1: 218 30% 25%;
    --text-color-2: var(--text-color-1);
    --text-color-3: var(--text-color-1);
    --text-color-4: var(--text-color-1);
    --hover-color-1: 245 30% 81%;
    --hover-color-2: 218 19% 50%;
    --hover-color-3: 218 21% 58%;
    --shadow-color-1: 0 0% 0% 0.314;
    --shadow-color-2: 0 0% 0% 0.439;
  }
  &.dark-contrast {
    --background-color-1: 0 0% 0%;
    --main-color-1: 0 0% 3%;
    --main-color-2: 0 0% 75%;
    --main-color-3: 0 0% 50%;
    --text-color-1: 0 0% 100%;
    --text-color-2: 0 0% 100%;
    --text-color-3: 0 0% 75%;
    --text-color-4: 0 0% 75%;
    --hover-color-1: 0 0% 2.5%;
    --hover-color-2: 0 0% 69%;
    --hover-color-3: 0 0% 40%;
    --shadow-color-1: 0 0% 0% 0.314;
    --shadow-color-2: 0 0% 0% 0.439;
    --scrollbar-color: 0 0% 31%;
  }
}
