@import "./colors.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.not-rounded {
  .rounded {
    border-radius: 0;
  }

  .rounded-sm {
    border-radius: 0;
  }

  .rounded-md {
    border-radius: 0;
  }

  .rounded-lg {
    border-radius: 0;
  }

  .rounded-tr {
    border-radius: 0;
  }
}

body {
  width: 100%;
  min-height: 100dvh;
  max-height: 100dvh;
  overflow-x: hidden;
  color: hsl(var(--text-color-1));
  background: hsl(var(--background-color-1));
  font-family:
    "PT Sans",
    sans-serif,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20p*/;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  height: 100dvh;
  width: full;
}

h1 {
  font-size: theme(fontSize.2xl);
}

h2 {
  font-size: theme(fontSize.lg);
}

::-webkit-scrollbar {
  height: 17px;
  width: 7px;
}

* {
  scrollbar-color: hsl(var(--scrollbar-color)) hsl(var(--main-color-1));
  scrollbar-width: thin;
}

@media (max-width: 767px) {
  ::-webkit-scrollbar {
    height: 10px;
  }
}

::-webkit-scrollbar-track {
  background: hsl(var(--main-color-1));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--scroll-thumb));
}

input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
