:root {
  --background-color-1: 244 23% 13%;
  --main-color-1: 210 29% 29%;
  --main-color-2: 6 84% 61%;
  --main-color-3: 184 9% 62%;
  --text-color-1: 192 15% 94%;
  --text-color-2: 14 96% 70%;
  --text-color-3: 204 8% 76%;
  --text-color-4: 0 0% 100%;
  --hover-color-1: 199 24% 35%;
  --hover-color-2: 6 94% 69%;
  --hover-color-3: 214 9% 85%;
  --shadow-color-1: 0 0% 0% 0.314;
  --shadow-color-2: 0 0% 0% 0.439;
  --scrollbar-color: var(--hover-color-1);
  &.default-dark {
    --background-color-1: 300 3% 8%;
    --main-color-1: 272 16% 16%;
    --main-color-2: 14 89% 64%;
    --main-color-3: 0 0% 55%;
    --text-color-1: 0 32% 92%;
    --text-color-2: 24 90% 58%;
    --text-color-3: 0 0% 72%;
    --text-color-4: 0 32% 92%;
    --hover-color-1: 272 14% 24%;
    --hover-color-2: 14 97% 70%;
    --hover-color-3: 0 0% 70%;
    --shadow-color-1: 0 0% 0% 0.314;
    --shadow-color-2: 0 0% 0% 0.439;
  }
  &.pastel-light {
    --background-color-1: 0 0% 100%;
    --main-color-1: 243 31% 89%;
    --main-color-2: 218 23% 47%;
    --main-color-3: 216 23% 61%;
    --text-color-1: 218 30% 25%;
    --text-color-2: var(--text-color-1);
    --text-color-3: var(--text-color-1);
    --text-color-4: var(--text-color-1);
    --hover-color-1: 245 32% 85%;
    --hover-color-2: 218 23% 53%;
    --hover-color-3: 207 25% 67%;
    --shadow-color-1: 0 0% 0% 0.314;
    --shadow-color-2: 0 0% 0% 0.439;
  }
  &.dark-contrast {
    --background-color-1: 0 0% 100%;
    --main-color-1: 0 0% 0%;
    --main-color-2: 0 0% 75%;
    --main-color-3: 0 0% 51%;
    --text-color-1: 0 0% 100%;
    --text-color-2: 0 0% 100%;
    --text-color-3: 0 0% 75%;
    --text-color-4: 0 0% 0%;
    --hover-color-1: 0 0% 4%;
    --hover-color-2: 0 0% 69%;
    --hover-color-3: 0 0% 40%;
    --shadow-color-1: 0 0% 0% 0.314;
    --shadow-color-2: 0 0% 0% 0.439;
    --scrollbar-color: 0 0% 31%;
  }
}
