@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root {
  --main-color-1: #f0e8e8;
  --main-color-2: #443d58;
  --main-color-3: #f48032;
  --main-color-4: #b7b7b7;
  --text-color-1: #f0e8e8;
  --text-color-2: #f48032;
  --text-color-3: #b7b7b7;
  --text-color-4: #443d58;
  --hover-color-1: #675f80;
  --hover-color-2: #f89c5e;
  --hover-color-3: rgb(209, 201, 201);
  --shadow-color-1: #00000050;
  --shadow-color-2: #00000070;
  --opacity-color-1: #00aaff;
  --scroll-background: #443d58;
}

/* --main-color-1: #1d1c1f;
--main-color-2: #82718d;
--main-color-3: #f0dcdc;
--main-color-4: #a69994;
--text-color-1: #0d0d0d;
--text-color-2: #ac047a;
--text-color-3: #ffffff;
--error-color-1: #d02d1e;
--button-color-1: #111111;
--button-color-2: #111111;
--shadow-color-1: #00000050;
--shadow-color-2: #00000070;
--opacity-color-1: #1f1919;
--scroll-background: #929292; */

/* --main-color-1: #1f1919;
  --main-color-2: #f03f1f;
  --main-color-3: #efefef;
  --main-color-4: #f08842;
  --text-color-1: #111111;
  --text-color-2: #4625b4;
  --text-color-3: #efefef;
  --error-color-1: #d02d1e;
  --button-color-1: #111111;
  --button-color-2: #111111;
  --shadow-color-1: #00000050;
  --shadow-color-2: #00000070;
  --opacity-color-1: #1f1919;
  --scroll-background: #929292; */

body {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  color: var(--text-color-1);
  background: var(--main-color-1);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20p*/;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  @apply flex h-screen w-full;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-lg;
}

::-webkit-scrollbar {
  /*@apply h-[17px] w-[10px] md:h-[10px]*/
  height: 17px;
  width: 7px;
}
aa {
  scrollbar-color: var(--hover-color-1) var(--scroll-background);
  scrollbar-width: thin;
}

@media (max-width: 767px) {
  ::-webkit-scrollbar {
    height: 10px;
  }
}

::-webkit-scrollbar-track {
  background: var(--scroll-background);
  /*@apply bg-opacity-0 bg-t-main;*/
  /* цвет зоны отслеживания */
}

::-webkit-scrollbar-thumb {
  background-color: var(--hover-color-1); /* цвет бегунка */
  /* округлось бегунка */
  /* border-radius: 3px; */
  /*border: 3px solid orange;  !* отступ вокруг бегунка *!*/
  /*@apply bg-t-main rounded-[3px]*/
}
